.address-form  {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.address-form h2 {
    font-size: calc(1.6em + .1vw)
}

form {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.input-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.field-container {
    width: 48%;
    margin: 0 0 20px
}

.field-container:last-child{
    width: 100%;
}

.form-buttons {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0 0;
}

.form-buttons a  {
    text-decoration: none;
    color: #000;
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid #000;
}

.form-buttons button  {
    text-decoration: none;
    color: #fff;
    background-color: rgb(43, 169, 43);
    padding: 10px 15px;
    font-size: calc(.7em + .7vw);
    border-radius: 10px;
    border: none;
}

@media (max-width: 600px ) {
    .field-container {
        width: 100%;
    }
}