.cart-container {
    margin-top: 100px
}

.cart-details {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.cart-details h4 {
    font-size: calc(1.6em + .1vw)
}

.empty-cart {
    font-size: calc(.7em + .7vw);
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 50px 0 10px;
    align-items: center;
}

@media (max-width: 580px) {
    .cart-details {
        flex-direction: column;
    }

    .buttons {
        padding: 20px 0;
        width: 100%;
    }
}