.navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    max-height: 100px;
    box-shadow: 0 8px 10px -2px #ccc;
    background-color: #fff;
    z-index: 100;
}

.logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 30px;
    margin-right: 10px;
}

.navbar-buttons button {
    background: none;
    border: none;
    padding: 10px;
    border-radius: 50%;
    transition: background-color .5s, transform .5s;
}

.navbar-buttons button:hover {
    background-color: #ccc;
    transform: scale(1.1)
}